body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.9)
    ),
    url("./aws_event_img.jpeg");

  object-fit: cover;
}

.form {
  width: 100%;
  background-color: rgb(235, 232, 232);
  border: 0px solid black;
  box-shadow: 2px 2px 2px rgb(224, 224, 224);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 2%;
  padding: 20px;
}
label {
  font-size: 1rem;
  margin-bottom: 10px;
  color: rgb(57, 57, 57);
}
input {
  height: 40px;
  border: none;
  border-radius: 10px;
  padding: 0 10px;
  margin-bottom: 30px;
}
input:focus {
  outline: none;
}
select {
  height: 40px;
  border-radius: 10px;
  padding: 0 10px;
  border: none;
  margin-bottom: 30px;
}
select:focus {
  outline: none;
}

.question {
  font-size: 1rem;
}
.btn {
  color: rgb(255, 255, 255);
  background-color: red;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  transition: all linear 0.3s;
  padding: 10px 0;
}
.btn:hover {
  background-color: rgb(163, 50, 50);
}
.btn:active {
  transform: translateY(3px);
}
h1 {
  font-size: 4rem;
  color: #fff;
}
h2 {
  text-align: center;
  padding-bottom: 2rem;
}
.thanks {
  color: #fff;
  text-align: center;
  padding-bottom: 2rem;
  font-size: 3rem;
}
.centered_message {
  margin-top: 10rem;
}
